<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navber-light p-3 mb-2 bg-secondary">
		<div class="container-fluid">
			<a class="navbar-brand text-white">Simple Board</a>
			<button type="button" class="btn btn-primary">つぶやき登録</button>
		</div>
	</nav>
	<div class="container">
		<h1 class="text-center m-5">つぶやき詳細</h1>
		<div th:object="${shows}">
			<div class="mb-3 col-md-3">
				<label for="exampleFormControlInput1" class="form-label">タイトル</label><br>
				<input type="text" th:field="${shows.title}">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">つぶやき</label>
				<textarea class="form-control" id="exampleFormControlTextarea1"
					rows="3" th:field="${shows.content}"></textarea>
			</div>

			<button type="button" class="btn btn-secondary">
				<a th:href="@{/board/index}">一覧に戻る</a>
			</button>
			<button type="button" class="btn btn-primary">編集</button>
			<button type="button" class="btn btn-danger">削除</button>
			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous" defer></script>
		</div>
	</div>
</body>
</html>