<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>users</title>
</head>
<body>
	<h1>ユーザー一覧</h1>
	<table border="1" class="list">
		<tr>
			<th>ユーザーID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<!--<th>登録日</th>-->
			<!--<th>更新日</th>-->
		</tr>
		<tr th:each="list:${listTest}">
			<td th:text="${list.id}"></td>
			<td th:text="${list.name}"></td>
			<td th:text="${list.email}"></td>
			<!--<td th:text="${list.created_at}"></td>-->
			<!--<td th:text="${list.updated_at}"></td>-->
		</tr>
	</table>
</body>
</html>